/* Home section */
section#home {
    height: 80vh;
    min-height: 550px;
    background-color: #F7F7F7;
    position: relative;
    overflow: hidden;
}
.home-title-wrapper {
    padding: 30px 0 20px;
    position: relative;
    top: 8%;
}
.home-title-block {
    max-width: 620px;
    position: relative;
    z-index: 1;
}
h1.home-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    margin: 0;
}
p.home-title-desc {
    font-size: 18px;
    line-height: 24px;
    color: #222222;
}
.bold-txt.top-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #353D46;
    margin-bottom: 20px;
}
img.home-section-img {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
}

button.learn-more-btn {
    margin-top: 20px;
    background: #222222;
    border-radius: 11px;
    color: white;
    border: none;
    height: 54px;
    width: 180px;
    cursor: pointer;
}

@media(max-width: 992px) {
    img.home-section-img {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        opacity: 0.2;
    }
    .home-title-wrapper {
        top: 50%;
        transform: translateY(-50%);
    }
}
@media(max-width: 600px){
    .home-title-wrapper {
        border-radius: 0px 48px 48px 0px;
        padding: 30px 20px 20px;
        position: relative;
    }
    h1.home-title {
        font-size: 38px;
        line-height: 50px;
    }
}
/* end of Home section */

/* Why-We-Exist Section */
#why-we-exist {
    background-color: white;
    padding: 20px 0 30px;
}
#why-we-exist .section-header {
    font-size: 58px;
    line-height: 76px;
}
.wwe-grid {
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    grid-gap: 20px;
}
.section-txts {
    font-size: 18px;
    line-height: 28px;
}
hr.long-line {
    height: 3px;
    border: none;
    background: var(--pry-color);
    margin-top: 12px;
}
/* end of Why-We-Exist Section */

/* Problems-And-Solutions Section */
#problems-and-solutions {
    background-color: #F7F7F7;
    min-height: 200px;
    position: relative;
}

img.floating-curvy-line {
    position: absolute;
    height: 90%;
    top: 2.5%;
    right: 0;
}

/* .unique-problems-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */
.unique-section-block {
    height: calc(100vh - 20px);
    width: 80%;
    margin: auto;
    padding-top: 20px;
    position: relative;
    top: 80px;
    background-color: #F7F7F7;
}
h4.u-p-title-text {
    padding: 10px 20px;
    font-size: 49px;
    line-height: 55px;
    width: 50%;
}
.u-p-refrence-wrapper {
    width: 45%;
    float: right;
    margin-top: 50px;
    position: sticky;
}
.u-p-refrence-block {
    display: none;
    align-items: center;
    font-size: 16px;
}
.u-p-refrence-block.active-ref-block {
    display: flex;
}
img.refrence-block-img {
    margin-right: 30px;
    width: 100%;
}

.unique-solutions-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.unique-solution-img-wrapper {
    width: 45%;
}
.unique-solution-img-block {
    display: none;
    padding-top: 25vh;
}
.unique-solution-img-block.active-u-s-img {
    display: block;
}
img.unique-solution-img {
    width: 90%;
}
.unique-solution-desc-wrapper {
    width: 45%;
    float: right;
    padding-left: 30px;
}
.unique-solution-header h4.u-p-title-text {
    padding: 10px 0;
    width: 100%;
    margin: 10px auto;
}
.u-s-block {
    display: none;
    font-size: 16px;
    width: 65%;
    position: relative;
}
.u-s-block.active-u-s-block {
    display: block;
}
hr.u-s-block-hr {
    width: 60px;
    margin-left: 0;
    background: var(--pry-color);
    border: none;
    height: 4px;
}
b.u-s-block-title {
    display: block;
    margin-top: 25px;
}
.unique-solution-header {
    font-size: 16px;
    margin-bottom: 12vh;
}
p.u-p-title-desc {
    margin-top: 0px;
}
/* .pry-color.pre-title-txt.flex-div {
    font-size: 18px;
} */
hr.pre-title-txt-hr {
    width: 30px;
    height: 2px;
    border: none;
    background: var(--pry-color);
    margin-left: 20px;
}
.middle-line-divider {
    width: 3px;
    height: 86%;
    background: var(--pry-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;
    margin: 0 auto;
}
div#unique-solutions .middle-line-divider {
    top: 0;
}
span.line-end-point {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 0;
    background: var(--pry-color);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
span.u-p-title-text-line {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 0;
    height: 3px;
    transform: translateY(-50%);
    background-color: var(--pry-color);
}
.u-p-bg {
    background-color: #F7F7F7;
    display: block;
    max-width: 270px;
    position: relative;
    z-index: 1;
}
span.small-dash {
    width: 20px;
    height: 4px;
    background-color: var(--pry-color);
    position: absolute;
    top: 50%;
    left: calc(-15% + 5px);
}
.u-s-block-wrapper span.small-dash {
    left: calc(-25% + 9px);
    top: 0;
}

@media(max-width: 992px) {
    .unique-section-block {
        width: 100%;
    }
    .middle-line-divider {
        height: 88%;
    }
}
@media(max-width: 600px) {
    .unique-section-block {
        height: auto;
        min-height: 100vh;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    div#unique-solutions.unique-section-block {
        top: 0;
    }
    .middle-line-divider, span.u-p-title-text-line, span.small-dash {
        display: none;
    }
    h4.u-p-title-text {
        width: 100%;
    }
    .u-p-refrence-wrapper {
        width: 100%;
        padding: 5px 20px;
    }
    .u-p-bg {
        max-width: 90%;
    }
    .unique-solution-desc-wrapper {
        width: 100%;
        padding: 5px 20px;
    }
    .u-s-block {
        width: 95%;
    }
    .unique-solution-img-wrapper {
        width: 100%;
        float: left;
    }
    .unique-solution-img-block {
        display: none;
        padding-top: 20px;
        text-align: center;
    }
    .unique-sections-wrapper.rel, #problems-and-solutions > .row, 
    #problems-and-solutions .container {
        float: left;
    }
    img.refrence-block-img {
        margin-right: 25px;
    }
}
/*  end of Problems-And-Solutions Section */

/* Our-Brands */
#our-brands {
    width: 100%;
    overflow-x: hidden;
    padding: 20px 0;
}
hr.section-title-hr {
    width: 60px;
    border: none;
    background: var(--pry-color);
    height: 4px;
}
.section-header h4.section-title {
    margin-bottom: 0;
}
.brands-container-wrapper {
    display: flex;
    animation: scrolling 25s linear infinite;
    animation-play-state: running;
    margin-top: 20px;
}
.brands-container-wrapper:hover {
    animation-play-state: paused;
}
.brands-block-wrapper {
    flex: 0 0 120vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brands-block-wrapper:not(:last-child) {
    margin-right: 10px;
}
.brands-block-wrapper img {
    filter: grayscale(1);
}
.brands-block-wrapper img:hover {
    filter: grayscale(0);
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-120vw); }
}
/* end of Our-Brands */

.spacing-section {
    background: #F2F2F2;
    height: 50px;
}

@media(max-width: 600px) {
    .brands-block-wrapper-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        padding-bottom: 0;
        margin-top: 20px;
    }
    #why-we-exist {
        padding-left: 15px;
        padding-right: 15px;
    }
    .long-line-wrapper {
        display: none;
    }
    .wwe-grid {
        grid-template-columns: 100%;
    }
}